In [1]:
x = 0
y = 1
print(x)
print(y)
x = x + 3
y = y + x
print(x)
print(y)

0
1
3
4

In [2]:
x = 1 + 1 * 2
y = (1 + 1) * 2
z = 1 + ( 1 * 2 )
a = 1 + 1 * 2 / 2
b = (1 + 1 * 2 ) /  2

print(x)
print(y)
print(z)
print(a)
print(b)

3
4
3
2.0
1.5

In [7]:

def hello(name):
    return("Hello " + name +"!")

In [8]:
hello("thavha")

'Hello thavha!'

In [9]:
def even_or_odd(number):
    if number%2 ==0.0:
        print("Even")
    else:
        print("Odd")

In [10]:
even_or_odd(3)

Odd

In [11]:

def area_of_a_triangle(height, base):
    return 0.5 * base * height

In [12]:
area_of_a_triangle(5,7)

17.5

In [13]:
def maximum_number(x,y,z):
    if x>y and x>z:
        return x
    elif y>x and y>z:
        return y
    else:
        return z

In [14]:
maximum_number(8,87,0)

87

In [15]:
def celsius_to_fahrenheit(temperature_celcius):
    return temperature_celcius*(9/5)+32

In [16]:
celsius_to_fahrenheit(47)

116.60000000000001

In [17]:
def fahrenheit_to_celsius(temperature_fahrenheit):
    return ((5/9)*(temperature_fahrenheit-32))

In [19]:
fahrenheit_to_celsius(67)

19.444444444444446

In [20]:
def number_into_hours_and_minutes(number):
    a= 'hours'
    b= 'hour'
    c= 'minute'
    d= 'minutes'
    hours = number//60
    minutes= number%60
    if hours > 1 and minutes >1:
        return (str(hours)+" "+a+" " +str(minutes)+" "+ d)
    elif hours > 1 and minutes ==1:
        return (str(hours)+" "+a+" " +str(minutes)+" "+ c)
    elif hours == 1 and minutes >1:
        return (str(hours)+" "+b+" " +str(minutes)+" "+ d)
    elif hours ==0 and minutes ==0:
        return 0
    elif hours ==0 and minutes > 1:
        return (str(minutes)+" "+ d)
    elif hours ==0 and minutes ==1:
        return(str(minutes)+" "+ c)
    elif hours >1 and minutes ==0:
        return (str(hours)+" "+a)
    elif hours ==1 and minutes ==0:
        return (str(hours)+" "+b)
    elif hours ==1 and minutes >1:
        return (str(hours)+" "+a+" " +str(minutes)+" "+ d)
    elif hours ==1 and minutes ==1:
        return (str(hours)+" "+b+" " +str(minutes)+" "+ c)

In [21]:
number_into_hours_and_minutes(133)

'2 hours 13 minutes'

In [22]:
def vowels_in_the_string(string):
    vowels =["a","e","i","o","u","A","E","I","O","U"]
    for i in vowels:
        if i in string:
            print(i)

In [24]:
vowels_in_the_string("duthuni1")

i
u